.container {
    text-align: center;
    background-color: black;
    height: 544px;
    width: 1263px;
}

.signupBtnWrapper {
    padding-top: 20px;
}

.userButton {
    margin-left: 0px;
    margin-top: 10px;
}
