.signInWrapper{
    text-align: center;
    margin-top: 60px;
}
.checkbox{
    text-align: left;
    margin-left: 460px;
}
.firsta {
    margin-right: 250px;
    font-size: 13px;
}
.seconda {
    position: absolute;
    margin-left: 150px;
    font-size: 13px;
}
a:hover{
    color: rgb(70, 70, 208);
}