.mainContainer {
    width: 100%;
    height: auto;
}

.signInWrapper {
    text-align: center;
    padding-top: 0px;
    height: auto;
    background-color: rgb(252, 248, 248);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(192, 188, 188);
    box-shadow: 0px 0px 10px grey;
    width: 400px;
    height: auto;
    margin-left: 440px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.signInWrapper h3 {
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
}

.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #0c1639;
    color: white;
    /* margin-left: 440px; */
}

.wrapper {
    text-align: left;
    margin-left: 10px;
}

.phoneWrapper {
    display: flex;
}

.wrapper p {
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 470;
}

.signInForm {
    margin-top: 10px;
}

.checkbox {
    text-align: left;
    margin-left: 40px;
}

.firsta {
    margin-right: 250px;
    font-size: 13px;
}

.seconda {
    font-size: 13px;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(70, 70, 208);
}

.signinButton {
    background-color: red !important;
    border: 1px solid red !important;
    height: 40px;
    border-radius: 8px;
    color: aliceblue;
}

.signinButton:hover {
    background-color: rgb(200, 9, 9) !important;
    border-color: rgb(200, 9, 9) !important;
}

.backArrow {
    color: rgb(133, 132, 132);
    margin: 20px;
    margin-bottom: 0px;
}

.backArrow:hover {
    color: #b4b4b6;
}

@media(max-width:768px) {
    .signInWrapper {
        margin-left: 180px !important;
    }

    .signInWrapper h3 {
        margin-top: 20px !important;
    }
}

@media(max-width:576px) {
    .signInWrapper{
        margin-left: 90px !important;
    }
}