.mainContainer {
  width: 98.7vw;
}
.times {
  padding: 40px;
  background-color: rgb(0 4 21 / 94%);
  backdrop-filter: blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h4 {
  margin-left: 10px;
}
.wrapper p {
  margin-left: 10px;
  font-size: 15px;
}
.wrapper {
  color: aliceblue;
}
.phoneWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardWrapper {
  margin: 20px;
  margin-top: 0px;
}
.cardWrapper h1 {
  font-size: 30px;
  margin-left: 60px;
}
.cardWrapper p {
  text-align: left;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cardsWrap {
  width: 1200px;
  margin-left: 15px;
  margin-top: 30px;
}
.timeSlider {
  width: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.timeSlider svg {
  margin-top: 100px;
}
.timeSlider svg:hover {
  color: rgb(196, 196, 196);
}
.prevArrow {
  margin-top: 90px !important;
}

.timescardDiv {
  height: 340px !important;
}
.timesFooter {
  text-align: center;
  height: 170px;
  background-color: #0d0d0d;
  color: white;
  margin-top: 50px;
}
.timesFooter p {
  padding-top: 140px;
}
.cardImg {
  margin: 20px !important;
  margin-left: 15px !important;
  height: 220px;
  width: 209px !important;
}
.timesCardBody {
  border-top: 1px solid rgb(149, 148, 148);
  width: 180px;
  margin-left: 30px;
}
