.mainContainer {
  width: 100%;
}

@media (max-width:768px) {
  .mainContainer {
    width: 100%;
  }

  .cardWrapper h1{
    font-size: 25px !important;
    margin-left: 35px !important;
    margin-bottom: 0px !important;
    margin-top: 20px !important;
  }
  .cardsWrap {
    padding: 10px;
    padding-top: 0px !important;
    margin-left: 0px !important;
    margin-top: 15px !important;
  }

  .timesCardWrapper {
    width: 13rem !important;
    height: 16rem !important;
    margin-left: 5px !important;
    margin-right: 10px;
    padding: 20px !important;
  }

  .cardWrapper {
    padding: 10px !important;
  }

  .timesCardBody {
    width: 150px !important;
    padding: 0px !important;
    padding-top: 10px !important;
    margin-top: 10px;
    margin-left: 10px !important;
  }
  .timeSlider svg{
    margin-top: 80px !important;
  }
  .timesFooter {
    font-size: 12px;
  }
}

.times {
  padding: 40px;
  background-color: rgb(0 4 21 / 94%);
  backdrop-filter: blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper h4 {
  margin-left: 10px;
}

.wrapper p {
  margin-left: 10px;
  font-size: 15px;
}

.wrapper {
  color: aliceblue;
}

.phoneWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  width: 100%;
  margin-top: 0px;
  padding: 40px;
  padding-top: 10px;
  padding-left: 10px;
}

.cardWrapper h1 {
  font-size: 30px;
  margin-left: 60px;
}

.cardWrapper p {
  text-align: left;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardsWrap {
  width: 100%;
  margin-left: 15px;
  margin-top: 30px;
}

.timeSlider {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.timeSlider svg {
  margin-top: 100px;
}

.timeSlider svg:hover {
  color: rgb(126, 125, 125);
}

.prevArrow {
  margin-top: 90px !important;
}

.timescardDiv {
  height: 340px !important;
}

.timesFooter {
  width: 100%;
  text-align: center;
  height: 170px;
  background-color: #0d0d0d;
  color: white;
  margin-top: 50px;
}

.timesFooter p {
  padding-top: 140px;
}

.cardImg {
  margin: 20px !important;
  margin-left: 15px !important;
  height: 220px;
  width: 209px !important;
}

.timesCardBody {
  border-top: 1px solid rgb(149, 148, 148);
  width: 180px;
  margin-left: 10px;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 10px;
}