.clubdataWrapper {
    padding-top: 20px;
}

.headingWrapper {
    text-align: center;
}

.subHeadingWrapper {
    text-align: center;
}

.adminHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin-left: 10px;
}

.wrapper p {
    margin-bottom: 5px;
}

.phoneWrapper {
    display: flex;
}

.clubdataWrapper table {
    width: 100%;
    border-collapse: collapse;
}

.clubdataWrapper th,
.clubdataWrapper td {
    border: 1px solid black;
    text-align: center;
}

.clubdataWrapper td {
    padding-left: 0px !important;
    padding-right: 0% !important;
}

.bookedSlot {
    background-color: rgb(255, 135, 135) !important;
}

.disabledSlot {
    background-color: rgb(109, 109, 109) !important;
    color: white !important;
}

.detailsBtn {
    border: 1px solid rgb(255, 135, 135);
    border-radius: 10px;
    width: 60px;
    background-color: #df1515;
    color: white;
    margin-top: 18px;
}

.bookBtn {
    border: 1px solid white;
    border-radius: 10px;
    width: 60px;
    background-color: #fb0014;
    color: white;
}

.disableBtn {
    border: 1px solid white;
    border-radius: 10px;
    width: 60px;
    margin-top: 5px;
    background-color: #9e9e9e;
}

.closeBtn {
    border: 1px solid black;
    width: 100px !important;
    position: absolute;
}
.formModal label{
    margin-left: 80px;
}
.footerWrapper{
    display: block !important;
    margin-left: 160px;
}
.input {
    border: 1px solid black !important;
    width: 300px !important;
    height: 35px;
    margin-left: 80px;
}

.confirmBtn {
    margin-left: 0px;
    width: 100px;
}