/* .clubdataWrapper {
    padding-top: 20px;
} */

.headingWrapper {
    text-align: center;
}

.subHeadingWrapper {
    text-align: center;
}

.adminHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011533;
    color: white;
    padding: 10px;
}

.wrapper {
    margin-left: 10px;
}

.wrapper p {
    margin-bottom: 5px;
}

.phoneWrapper {
    display: flex;
}

.clubdataWrapper table {
    width: 100%;
    border-collapse: collapse;
}

.clubdataWrapper th,
.clubdataWrapper td {
    border: 1px solid black;
    text-align: center;
}

.clubdataWrapper td {
    padding-left: 0px !important;
    padding-right: 0% !important;
}

.bookedSlot {
    background-color: rgb(255, 135, 135) !important;
}

.disabledSlot {
    background-color: rgb(109, 109, 109) !important;
    color: white !important;
    margin-top: 19px;
}

.detailsBtn {
    border: 1px solid rgb(255, 135, 135);
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background-color: #df1515;
    color: white;
    margin-top: 18px;
}

.detailsBtn:hover {
    background-color: #c00808;
}

.bookBtn {
    border: 1px solid white;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background-color: #fb0014;
    color: white;
}

.bookBtn:hover {
    background-color: #c00808;
}

.disableBtn {
    border: 1px solid white;
    border-radius: 10px;
    width: 70px !important;
    height: 30px !important;
    margin-top: 5px;
    background-color: #a9a6a6;
}

.disableBtn:hover {
    background-color: rgb(145, 141, 141);
}

.closeBtn {
    border: 1px solid black;
    width: 100px !important;
    position: absolute;
}

.formModal label {
    margin-left: 80px;
}

.footerWrapper {
    display: block !important;
    margin-left: 160px;
}

.input {
    border: 1px solid black !important;
    width: 300px !important;
    height: 35px;
    margin-left: 80px;
}
/* .tableHead th{
    background-color: rgb(98, 98, 98) !important;
    color: white;
} */
.confirmBtn {
    margin-left: 180px;
    margin-top: 20px;
    width: 100px;
}

.errorWrapper {
    margin-left: 82px;
}

.detailsButton {
    border: 1px solid rgb(255, 135, 135);
    background-color: #df1515;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 30px;
}

.detailsButton:hover {
    background-color: #c00808;
}

.internalModal {
    background-color: rgba(21, 20, 20, 0.5);
    backdrop-filter: blur(0.5);
}

.modal-header button {
    color: red;
}

/* .daydateCell{
    background-color: #c00808 !important;
    color: white !important;
} */