.mainWrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}

.formWrapper {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 630px;
    color: white;
    width: 520px;
    border: 1px solid rgb(171, 169, 169);
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    margin-left: 371px;
    margin-right: 371px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    /* padding-top: 5px; */
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 518.9px;
    border: 1px solid black;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(0 4 21 / 94%);
    color: white;
    /* margin-left: 3px; */
    /* border-bottom: 2px solid white; */
}

.wrapper {
    text-align: left;
    margin-left: 10px;
}

.wrapper p {
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 470;
}

.phoneWrapper {
    display: flex;
}

.formWrapper h4 {
    margin-top: 50px;
    color: rgb(5, 5, 5);
    text-align: left;
    margin-left: 95px;
}

.signUpForm {
    background-color: rgb(255, 255, 255);
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signUpForm input {
    margin-left: 0px;
}

.termsWrapper {
    text-align: center;
}

.termsWrapper label {
    font-size: 14px;
}

a:hover {
    color: rgb(68, 97, 179) !important;
}

.signupButton {
    width: 150px;
    height: 40px;
    border: 1px solid rgb(255, 0, 0) !important;
    border-radius: 8px;
    background-color: red !important;
    color: rgb(254, 255, 255);
    margin-top: 0px;
}

.signupButton:hover {
    background-color: rgb(209, 3, 3);
    border: 1px solid rgb(209, 3, 3);
}

.backArrow {
    text-align: left !important;
    margin-left: 0px;
    color: rgb(141, 139, 139);
    margin: 20px;
    margin-bottom: 0px;
}

.backArrow:hover {
    color: rgb(179, 178, 178);
}

@media(max-width:768px) {
    .formWrapper {
        margin-left: 140px !important;
        width: 500px !important;
        height: auto;
        padding-bottom: 10px !important;
    }

    .formWrapper h4 {
        margin-top: 20px !important;
    }

    .signUp {
        width: 500px !important;
    }

    .formWrapper a {
        margin-bottom: 20px !important;
        margin-left: 10px !important;
    }
}

@media(max-width:576px) {
    .formWrapper {
        width: 420px !important;
        margin-left: 85px !important;
    }

    .formWrapper h4 {
        margin-left: 60px !important;
    }

    .signUp {
        width: 418.7px !important;
    }

    .signUpForm {
        margin-left: 0px !important;
    }

    .fnameInputWrapper {
        width: 150px !important;
        height: 34px !important;
        border-radius: 0px !important;
        margin-left: 55px !important;
    }

    .lnameInputWrapper {
        width: 150px !important;
        height: 34px !important;
        border-radius: 0px !important;
    }

    .addressWrapper {
        width: 310px !important;
        border-radius: 0px !important;
        margin-left: 55px !important;
    }

    .emailWrapper {
        width: 310px !important;
        border-radius: 0px !important;
        margin-left: 55px !important;
    }

    .passwordWrapper {
        width: 310px !important;
        border-radius: 0px !important;
        margin-left: 55px !important;
    }

    .confirmWrapper {
        width: 310px !important;
        border-radius: 0px !important;
        margin-left: 55px !important;
    }

    .signupButton {
        margin-left: 40px !important;
        background-color: red !important;
        border: 1px solid red !important;
    }

    .signupButton:hover {
        background-color: rgb(211, 16, 16);
    }

    .formWrapper a {
        margin-left: 20px !important;
    }
}