.mainContainer {
    width: 100%;
    height: auto;
}

.mainContainer img {
    width: 100%;
    height: auto;
}

.sportsContainer {
    display: flex;
    background-color: rgba(41, 39, 39, 0.5);
    backdrop-filter: blur(0.5px);
    height: 30%;
    width: 100%;
    position: absolute;
    transform: translate(0%, -100%);
}

.firstContainer,
.secondContainer {
    width: 100%;
    margin-bottom: 20px;
    max-width: 300px;
}

.firstContainer p {
    margin-left: 65px;
    color: aliceblue;
}

.secondContainer p {
    margin-left: 65px;
    color: aliceblue;
}

#dropdownbutton1 {
    background-color: aliceblue;
    color: black;
}

.sportsModal {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .secondContainer p {
        margin-left: 10px !important;
    }

    .venueWrapper {
        width: 200px !important;
        margin-left: 10px !important;
    }

    .sportsWrapper {
        width: 200px !important;
    }
}