.mainWrapper {
    padding: 50px;
    padding-right: 0px;
    display: flex;
    justify-content: space-around;
}

.mainWrapper img {
    margin-top: 70px;
}

.aboutusWrapper {
    text-align: justify;
    padding: 100px;
    padding-top: 0px;
}

.aboutusWrapper h3 {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 600;
}

.container {
    position: absolute;
    width: 510px;
    height: 200px;
    border: 1px solid rgb(178 178 178);
    color: rgb(0, 0, 0) !important;
    background-color: rgba(230, 230, 230, 0.5);
    backdrop-filter: blur(0.5);
    text-align: left;
    padding: 20px;
    margin-left: -250px;
}

.container h4 {
    font-weight: 700;
    color: #0071cb;
}

.container h6 {
    margin-top: 20px;
}

.contactUsWrapper {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contactUsWrapper img {
    width: 100%;
    height: 500px;
}

.contactButtonWrapper {
    margin-top: 20px;
    background-color: #0070ca !important;
    border: 1px solid #0070ca !important;
}

.contactLink {
    color: white !important;
    text-decoration: none !important;
}