.mainBody {
    width: 100%;
    height: auto;
}

.container {
    border: 1px solid rgb(205, 204, 204);
    width: 430px;
    margin-left: 415px;
    height: auto;
    margin-top: 40px;
    border-radius: 0px;
    box-shadow: 0px 0px 15px rgb(131, 131, 131);
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 9px;
}

.signinWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: #011228;
    color: white;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.wrapper {
    margin-left: 10px;
}

.wrapper p {
    margin-bottom: 5px;
}

.phoneWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinForm {
    margin-left: 70px;
    margin-top: 20px;
}

.inputWrapper {
    width: 300px !important;
    border: 1px solid black !important;
}

.signinButton {
    margin-top: 20px;
    width: 120px;
    background-color: red !important;
    border: 1px solid red !important;
    margin-left: 95px;
}

.signinButton:hover {
    background-color: rgb(210, 51, 51) !important;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

@media(max-width:768px) {
    .container {
        margin-left: 180px !important;
        width: 400px !important;
    }

    .signinForm {
        margin-left: 50px !important;
    }
}
@media(max-width:576px){
    .container{
        margin-left: 90px !important;
    }
}