.adminWrapper {
    background-color: rgb(255, 255, 255);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.adminWrapper h1 {
    text-align: center;
}

.bodyWrapper {
    width: 700px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    height: auto;
    box-shadow: 0px 0px 10px rgb(141, 141, 141);
    margin-top: 00px;
}

.formWrapper {
    padding: 30px;
    width: 100%;
    border-radius: 10px !important;
}

.formWrapper h1 {
    width: 200px;
}

.formControl {
    width: 310px !important;
    border: 1px solid black;
}

.nameWrapper {
    display: flex;
}

.submitBtn {
    margin-top: 30px;
    background-color: red !important;
    width: 160px;
    height: 45px;
    margin-left: 240px;
}

.submitBtn:hover {
    background-color: rgb(176, 8, 8) !important;
}

.uploadButton {
    height: 37px;
    width: 120px;
    margin-top: 47px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px !important;
    margin-left: 17px;
}

.arrowLeft {
    margin-left: 20px;
    color: rgb(69, 67, 67);
    margin-top: 20px;
}

.arrowLeft:hover {
    color: grey;
}

.lastName {
    width: 309px;
}

.headerWrapper {
    margin-left: 10px;
}

.addressWrapper {
    display: flex;
}

.phoneWrapper {
    display: flex;
}

.mobileWrapper {
    display: flex;
}

.flexSecondwrapper {
    margin-left: 10px;
    margin-top: 0px;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(17, 15, 32);
    color: white;
}

.passwordWrapper {
    display: flex;
}

.passwordControl {
    border: 1px solid black !important;
    width: 310px !important;
}

.confirmControl {
    width: 309px !important;
    margin-left: 20px;
    border: 1px solid black !important;
}

.lastName {
    border: 1px solid black !important;
    margin-left: 20px !important;
    width: 310px !important;
}

.sportsnumberWrapper {
    display: flex;
}

.firstName {
    border: 1px solid black !important;
    width: 310px !important;
}

.phoneControl {
    width: 310px !important;
    margin-left: 20px !important;
    border: 1px solid black !important;
}
.mobile1Control{
    width: 310px !important; 
    border: 1px solid black !important;
}
.mobile2Control{
    width: 310px !important; 
    border: 1px solid black !important;
    margin-left: 20px !important;
}

@media(max-width:768px) {
    .adminWrapper h1 {
        margin-left: 120px;
        margin-bottom: 20px !important;
    }

    .bodyWrapper {
        width: 500px !important;
    }

    .signUp {
        width: 500px !important;
    }

    .firstName {
        width: 210px !important;
    }

    .lastName {
        width: 210px !important;
    }

    .formControl {
        width: 210px !important;
    }
    .phoneControl{
        width: 210px !important;
    }

    .passwordControl {
        width: 210px !important;
    }

    .confirmControl {
        width: 210px !important;
    }

    .sportstypeWrapper {
        width: 210px !important;
    }

    .sportscontrolWrapper {
        width: 150px !important;
    }

    .submitBtn {
        margin-left: 140px !important;
    }
    .mobile1Control{
        width: 210px !important; 
        border: 1px solid black !important;
    }
    .mobile2Control{
        width: 210px !important; 
        border: 1px solid black !important;
        margin-left: 20px !important;
    }
}

@media(max-width:576px) {
    .adminWrapper h1 {
        margin-left: 20px;
        margin-bottom: 20px !important;
    }

    .bodyWrapper {
        width: 451px !important;
    }

    .formWrapper {
        width: 450px !important;
    }

    .signUp {
        width: 450px !important;
    }

    .formControl {
        width: 210px !important;
    }

    .sportstypeWrapper {
        width: 210px !important;
    }

    .sportscontrolWrapper {
        width: 150px !important;
    }

    .submitBtn {
        margin-left: 120px !important;
    }

    .nameWrapper {
        display: flex;
        flex-direction: column;
    }
    .firstName{
        width: 385px !important;
    }

    .lastName {
        width: 385px !important;
        margin-left: 0px !important;
        margin-top: 20px !important;
    }

    .passwordWrapper {
        display: flex;
        flex-direction: column;
    }

    .passwordControl {
        width: 385px !important;
    }

    .confirmControl {
        margin-left: 0px;
        width: 385px !important;
    }

    .confirmLabel {
        margin-left: 0px !important;
    }

    .sportsnumberWrapper {
        display: flex;
        flex-direction: column;
    }

    .phoneLabel {
        margin-left: 0px !important;
    }

    .phoneControl {
        margin-left: 0px !important;
        width: 385px !important;
    }

    .sportstypeWrapper {
        width: 385px !important;
    }

    .addressWrapper {
        display: flex;
        flex-direction: column;
    }

    .pradeshWrapper {
        width: 385px !important;
    }

    .districtWrapper {
        margin-top: 20px;
        margin-left: 0px !important;
        width: 385px !important;
    }

    .districtControl {
        margin-left: 0px !important;
    }

    .mobileWrapper {
        display: flex;
        flex-direction: column;
    }

    .mobile1Control {
        width: 385px !important;
    }

    .mobile2Control {
        width: 385px !important;
        margin-left: 0px !important;
        margin-top: 20px;
        padding-left: 0px;
    }
}