.container img {
  margin-left: 0px;
}

.container {
  position: relative;
}

.textWrapper {
  position: absolute;
  width: 540px;
  height: 150px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 170px;
  margin-left: 380px;
  background-color: rgba(43, 40, 40, 0.5);
  backdrop-filter: blur(0.5px);
  padding: 20px;
  border-radius: 00px;
}
.home div {
  animation: 2s linear 0s infinite alternate slidein;
}
@keyframes slidein {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0);
  }
}

.textWrapper p {
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  padding: 20px;
}
.form {
  background-color: black;
  width: 500px;
  text-align: center;
}
.form h1 {
  color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}
.form a {
  color: aliceblue;
  text-align: end;
  margin-left: 160px;
  margin-top: 20px;
  font-size: 14px;
}
.form a:hover {
  color: rgb(29, 120, 247);
}

.form button {
  width: 140px;
  height: 40px;
  border: 1px solid rgb(41, 40, 40);
  border-radius: 8px;
  background-color: red;
  margin-bottom: 30px;
  color: white;
  margin-top: 30px;
}
.form button:hover {
  background-color: rgb(174, 2, 2);
}
.subWrapper {
  margin-top: 30px;
  background-color: black;
  display: flex;
}
.imageWrapper {
  border: 10px solid rgb(48, 48, 48);
}
.cardDiv{
  height: 330px;
}
.cardWrapper {
  margin: 20px;
  margin-top: 30px;
}
.cardWrapper h1 {
  font-size: 30px;
  margin-left: 60px;
}
.cardWrapper p {
  text-align: left;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homeCardImg{
  margin: 20px !important;
  margin-left: 15px !important;
  height: 220px;
  width: 210px !important;
}
.homeCardBody{
  border-top: 1px solid rgb(149, 148, 148);
  width: 180px;
  margin-left: 30px;
}
.footer {
  margin-top: 100px;
  width: 1263px;
  border: 1px solid black;
  height: 170px;
  background-color: black;
}
.footer p {
  color: aliceblue;
  margin-top: 140px;
  text-align: center;
}

.cards {
  width: 1100px;
}
.innerSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  width: 1200px; 
}
.innerSlider svg:hover{
    color: rgb(171, 170, 170);
}

